.refund-manager-title {
    h1 {
        font-size: 32px;
        margin-top: 30px;
        text-align: center;
        color: #19244D;
    }
}

.refund-manager {
    display: flex;
    justify-content: space-between;
    .refund-filter-content {
        .refund-filter-title {
            h2 {
                font-size: 18px;
                color: #19244D
            }
        } 
    }
    
}

.refund-amount {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    p {
        font-size: 20px;
    }
}

.refund-update {
    button {
        margin-left: 10px;
    }
}

.total-refund {
    display: flex;
    align-items: center;
    button {
        margin-left: 10px;
    }
}

.refund-manager-table {
  background-color: #9495AC;
  th {
    color: #19244D;
    font-weight: semi-bold;
  }
}

.delete-icon {
    mat-icon {
        color: red;
        cursor: pointer;
    }
}

.edit-icon {
   mat-icon {
        color: green;
        cursor: pointer;
    } 
}

.no-data {
    h2 {
        text-align: center;
    }
}

.paginator {
    background-color: #9495AC;
}