<div class="refund-manger-content">
  <div class="refund-manager-title">
    <h2>Gestion des remboursements</h2>
  </div>

  <div class="refund-manager">
    <div class="refund-manager-fields">
      <app-refund-filter (refundFiltersList)="refundFiltersList($event)" (refundMoments)="refundMoments($event)" />
      <app-add-refund (newRefund)="newRefund($event)" />
    </div>
    <div class="new-refund-button">
      <button mat-raised-button [disabled]="displayRefund()" (click)="addRefund()">Nouveau remboursement</button>
    </div>
  </div>

  @if(displayRefund()) {
  <div class="refund-amount-content">
    <div class="refund-amount">
      @if(refundStateUpdate()) {
      <div class="refund-update">
        <mat-form-field>
          <mat-label>Remboursement</mat-label>
          <input matInput [formControl]="refundFieldUpdate">
          <span matTextSuffix>€&nbsp;</span>
        </mat-form-field>
        <button mat-raised-button [disabled]="!refundFieldUpdate.valid" (click)="updateRefund()">Modifier</button>
      </div>
      } @else {
      <div class="total-refund">
        <p>{{ displayRefund().totalAmount }}€</p>
        <button matMiniFab (click)="amountEdit()">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      }
    </div>
  </div>

  <table mat-table [dataSource]="displayRefund().refundList" class="mat-elevation-z8 refund-manager-table">
    <form [formGroup]="editForm">
      <ng-container matColumnDef="num">
        <th mat-header-cell *matHeaderCellDef> Numéros </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{ element.id ? element.id : i }}</td>
      </ng-container>


      <ng-container matColumnDef="wording">
        <th mat-header-cell *matHeaderCellDef> Libellés </th>
        <td mat-cell *matCellDef="let element; let i = index">
          @if(element.id === indexRefund() && refundState()) {
          <mat-form-field>
            <mat-label>Libéllé</mat-label>
            <input matInput formControlName="wording">
          </mat-form-field>
          } @else {
          {{ element.wording }}
          }
        </td>

      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Montants </th>
        <td mat-cell *matCellDef="let element; let i = index">
          @if(element.id === indexRefund() && refundState()) {
          <mat-form-field>
            <mat-label>Montant</mat-label>
            <input matInput type="number" formControlName="amount">
          </mat-form-field>
          } @else {
          {{element.amount }}€
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="dates">
        <th mat-header-cell *matHeaderCellDef> Dates </th>
        <td mat-cell *matCellDef="let element; let i = index">
          @if(element.id === indexRefund() && refundState()) {
          <mat-form-field>
            <mat-label>Date</mat-label>
            <!-- #docregion toggle -->
            <input matInput [matDatepicker]="picker" formControlName="date" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <!-- #enddocregion toggle -->
          </mat-form-field>
          }@else {
          {{element.date }}
          }
        </td>
      </ng-container>
    </form>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Supprimer</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <div class="delete-icon">
          <button matMiniFab (click)="deleteRefund(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Modifier</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <div class="edit-icon">
          @if(!refundState() || element.id !== indexRefund()) {
          <button matMiniFab (click)="editRefund(element.id)"
            [disabled]="element.id !== indexRefund() && refundState()">
            <mat-icon>edit</mat-icon>
          </button>
          } @else if(element.id === indexRefund()) {
 
          <button matMiniFab (click)="editValidate()">
            <mat-icon>check_small</mat-icon>
          </button>
          
        }
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  }@else{
  <div class="no-data">
    <h2>Pas de données</h2>
  </div>
  }
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of GitHub search results"></mat-paginator>
</div>